#title {
    font-family: Monaco, monospace;
    color: white;
    font-size: 4rem;
}
p {
    font-family: Monaco, monospace;
    font-size: 16px;
}

.pause-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-family: Monaco, monospace;
  cursor: pointer;
  color: White; /* Adjust the color as needed */
  outline: none;
}
.pause-button:hover {
  color: #ADD8E6; /* Adjust the hover color */
}

.score {
    font-family: Monaco, monospace;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
  }
  
  .bait {
    font-family: Monaco, monospace;
    position: absolute;
    top: 40px;
    left: 10px;
    color: white;
    font-size: 24px;
  }
